[package]

name = "ahrs"
version = "0.2.2"
authors = ["Jon Magnuson <jon.magnuson@gmail.com>"]

description = "A Rust port of Madgwick's AHRS algorithm"
repository = "https://github.com/jmagnuson/ahrs-rs"
documentation = "https://docs.rs/ahrs"
readme = "README.md"
keywords = ["ahrs", "madgwick", "imu", "kalman", "accelerometer"]
license = "GPL-3.0"

[features]
default = [ "std" ]
std = ["nalgebra/default", "alga/default"]
field_access = []

[lib]
name = "ahrs"
path = "src/lib.rs"

[dependencies.nalgebra]
version = "0.18"
default-features = false

[dependencies.alga]
version = "0.9"
default-features = false

[dev-dependencies.rand]
version = "0.7"
default-features = false

[dev-dependencies.approx]
version = "0.3"
