[package]

name = "ahrs"
version = "0.2.0"
authors = ["Jon Magnuson <jon.magnuson@gmail.com>"]

description = "A Rust port of Madgwick's AHRS algorithm"
repository = "https://github.com/jmagnuson/ahrs-rs"
documentation = "https://docs.rs/ahrs"
readme = "README.md"
keywords = ["ahrs", "madgwick", "imu", "kalman", "accelerometer"]
license = "GPL-3.0"

[lib]
name = "ahrs"
path = "src/lib.rs"

[dependencies]
nalgebra = "0.17"
alga  = "0.8"

[dev-dependencies]
rand = "0.6"
approx = "0.3"
